.DS_Store
ReduxWeather.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ReduxWeather.xcodeproj/project.xcworkspace/xcuserdata/rmisnikov.xcuserdatad/UserInterfaceState.xcuserstate
ReduxWeather.xcodeproj/xcuserdata/rmisnikov.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
